* { box-sizing: border-box; }

body {
    background-color: rgb(99, 99, 209);
}

/* Start Auth Form */
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formContainer h1 {
    font-weight: bold;
    margin: 0;
    position: absolute;
    font-size: 50px;
    top: 5%;
}

.error.active {
    display: block;
}

.formContainer .error {
    background: #f00;
    margin: 24px 0 0;
    padding: 0px 10px 0px;
    border-radius: 5px;
    color: aliceblue;
    box-shadow: 0 0 3px #333;
    display: none;
}

.formContainer h2 { text-align: center; }

.formContainer p { 
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.formContainer span { font-size: 12px; }

.formContainer a { 
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.authContainer button.authButton {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 1px solid rgb(218, 92, 230);
    background-color: rgb(218, 92, 230);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    -webkit-transition: transform 80ms ease-in;
    -moz-transition: transform 80ms ease-in;
    -ms-transition: transform 80ms ease-in;
    -o-transition: transform 80ms ease-in;
    margin: 10px;
    position: relative;
    bottom: -4%;
}

.authContainer button.authButton:active {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}

.authContainer button.authButton:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
    box-shadow: 0px 0px 10px #33333340;
}

form.form {
    background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.authContainer {
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 530px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: -20px 0 50px;
}

.formContainer {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
}

.signInContainer{
    left: 0;
    width: 50%;
    opacity: 1;
    z-index: 1;
}

.authContainer.right-panel-acttive .signInContainer {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

.input {
    background-color: rgb(240, 240, 240);
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
}

.signUpContainer{
	left: 50%;
	width: 50%;
	opacity: 1;
	z-index: 1;
}

.authContainer.right-panel-acttive .signUpContainer {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}




.overlayContainer {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.authContainer.right-panel-active .overlayContainer{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}


.overlay {
    color: #dc2bff;
    background: #ff41c6;
	background: -webkit-linear-gradient(to right, #dc2bff, #ff41c6);
	background: linear-gradient(to right, #dc2bff, #ff41c6);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.authContainer.right-panel-active .overlay {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

.overlayPanel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlayLeft {
	transform: translateX(-20%);
}

.authContainer.right-panel-active .overlayLeft {
	transform: translateX(0);
}

.overlayRight {
    right: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

/* End Auth Form */